<h1 class="text-center">All the walkers around you</h1>

<%# TODO: Add photos to the loop and models/migration maybe make it a carousel?? %>

<div class="home-container">
  <div class="walker-cards">
    <% @walkers.each do |walker| %>
    <div class="walker-card-info m-4">
      <% if walker.photos.any? %>
        <%= cl_image_tag walker.photos.first.key, class: "walker-image" %>
      <% else %>
        <%= image_tag('logo.png', class: "walker-image") %>
      <% end %>
      <p><%= link_to "#{walker.first_name} #{walker.last_name}", walker_path(walker), class: "text-decoration-none" %></p>
      <p><%= walker.phone_number %></p>
    </div>
  <% end %>
  </div>
</div>

<%# ask how should i make the cards %>
