
<%# TODO: Add photos to the loop and models/migration maybe make it a carousel?? %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/732679/screenshots/4108024/media/265200356b3e3340223e7c747db1c160.gif);">
  <div class="container-banner text-center">
    <h1>ALL THE WALKERS AROUND YOU</strong>!</h1>
    <p>Find the right walker to your pet.</p>
  </div>
</div>

<div class="home-container">
  <div class="walker-cards">
    <% @walkers.each do |walker| %>
    <div class="walker-card-info m-4">
      <% if walker.photos.any? %>
        <%= cl_image_tag walker.photos.first.key, class: "walker-image" %>
      <% else %>
        <%= image_tag('logo.png', class: "walker-image") %>
      <% end %>
      <p><%= link_to "#{walker.first_name} #{walker.last_name} - #{walker.phone_number}", walker_path(walker), class: "text-decoration-none walker-name" %></p>
    </div>
  <% end %>
  </div>
</div>

<%# ask how should i make the cards %>
