.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  flex-direction: column;

  h2 {
    line-height: 0.7em;
  }

  &.big {
    height: 200px;
  }

  &.link {
    text-decoration: none;
    background-size: 100%;
    transition: all 0.2s ease-in-out;
    opacity: 0.95;

    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
      text-decoration: none;
      opacity: 1;
      background-size: 110%;
    }
  }
}
