.walker-info {
  width: 55rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

.checkout-form {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 2.5rem;
}

.datetime.optional.booking_start_date {
  margin-top: 4rem;
}
.datetime.optional.booking_end_date {
  margin-top: 2rem;
}
