.walker-info {
  width: 60rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-form {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
}
