.walker-image {
  border-radius: 15px;
  width: 14rem;
  height: 14rem;

}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.carousel-inner {
  border-radius: 15px;
  height: 30rem;
  width: 55rem;
  padding-bottom: 25%;

}

.carousel-item {
  position: absolute !important; /* Bootstrap is insistent */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-item img {
  height: 100%; /* Bootstrap handles width already */
  object-fit: cover; /* or 'contain' if you want stretch instead of crop */
}
